// .babelrc

{
  "env": {
    "development": {
      "plugins": [
        [
          "styled-components",
          { "ssr": true, "displayName": false, "minify": true }
        ]
      ],
      "presets": ["next/babel"]
    },
    "production": {
      "plugins": [
        [
          "styled-components",
          { "ssr": true, "displayName": false, "minify": true }
        ]
      ],
      "presets": ["next/babel"]
    }
  }
}
