/* FuturaPT Font */
@font-face {
  font-family: FuturaPT;
  font-weight: 400;
  src: url("/fonts/Futura/FuturaPTMedium.otf") format("opentype");
}
@font-face {
  font-family: FuturaPT;
  font-weight: 700;
  src: url("/fonts/Futura/FuturaPTBold.otf") format("opentype");
}

/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: FuturaPT, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
   line-height: 2; 
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}


img {
  max-width: 100%;
  display: block;
} 
*/

a:hover {
  text-decoration: none !important;
}
